@font-face {
    font-family: Inconsolata;
    src: url(static/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #011627;
    color: #fff;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.main {
    margin-bottom: 36px;
}

.nav {
    margin-bottom: 36px;
}

.nav__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav__list-item:not(:last-child) {
    margin-bottom: 16px;
}

.nav__list-link {
    color: #fff;
}

.heading-1 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 36px;
    color: #e3722e;
}

.heading-1::before {
    content: "# ";
}

.blinking::after {
    content: "_";
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from {
      color: transparent;
    }

    50% {
        color: #e3722e;
    }

    to {
        color: transparent;
    }
  }


.heading-2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
    color: #62b574;
}

.heading-2::before {
    content: "## ";
}

.heading-3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 18px;
    color: #62b574;
}

.heading-3__link {
    text-decoration: none;
}

.heading-3::before {
    content: "### ";
}

.heading-4 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 18px;
    color: #62b574;
}

.heading-4::before {
    content: "#### ";
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-bottom: 24px;
}

.list__item:not(:last-child) {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.list__item-link:visited {
    color: #fff;
}

.paragraph {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.paragraph--last {
    margin-bottom: 24px;
}

.paragraph--attention {
    color: #ffef69;
}

.footer__link {
    color: #fff;
}
